.body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.cookiecol {
  height: 100vh;
  position: relative;
  min-width: 400px;
}

.tray1 {
  margin: 5%;
  margin-left: 30px;
  width: 300px;
  height: 600px;
  z-index: 0;
}

.card {
  position: absolute;
  margin: 2%;
  bottom: 0;
  left: 0;
  font-size: small;
  z-index: 25;
}

.cookieContainer {
  position: absolute;
  top: 210px;
  left: 17%;
  display: inline-block;
}

.cookieContainer img {
  width: 80px;
  height: 50px;
}

.bigBird {
  height: 250px;
  width: auto;
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
  top: 390px;
}

.tray-container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  top: 5%;
  right: 5%;
  margin-left: 20px;
  transform: translateX(20%);
}

.tray2,
.tray3 {
  height: 390px;
  width: auto;
  margin-left: 10px;
  z-index: 0;
}

.biscuits {
  width: 80px;
  height: 50px;
  z-index: 1;
}

.biscuitContainer {
  height: 390px;
  width: 281.1px;
  top: 5%;
}

.buttons {
  position: fixed;
  bottom: 0;
  right: 0;
}

.homeLogo {
  position: fixed;
  right: 2%;
  top: 2%;
  border: solid black;
  border-radius: 50%;
  background-color: transparent;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
