/* home.css */
.home {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url('../assests/site/menu-background.jpg');
  background-size: cover; 
  background-size: 100% 100%;
}

.centered-row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  margin-left: 20%;
}

.menu-button {
  cursor: pointer;
  border: none;
  background: url('../assests/site/menu-icon.png');
  text-align: center;
  background-size: 100% 100%;
  width:600px;
  height: 200px;
}

.menu-button a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.menu-button a:hover {
  color:rgb(225, 10, 96) ;
  text-decoration: none;
}

.profileContainer{
  position: absolute;
  right: 15rem;
  z-index: 2;
}

.profileButton{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align content to the right */
  gap: 8px;
  font-size: 16px;
  color: #333;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align content to the right */
  gap: 8px;
  position: absolute;
  top: 6px;
  right: 5%;
  z-index: 2;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  border-radius: 12px;
  background-color: #ccc;
}
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-slider {
  transform: translateX(24px);
  background-color: #1151e7;
}
