.blueTray {
    width: auto;
    height: 450px;
    align-items: center;
    margin-top: 8%;
    transition: smooth;
  }
  
.card {
    position: absolute;
    margin: 2%;
    bottom: 0;
    align-items: center;
  }

.backgroundPic{
    width: auto;
    height: 100vh;
}